[2010-09-02 17:49] voipscout opened #6 "Feature request - iBuffer support"
If you feel like it, could you please add iBuffer support? I use it quite a bit and when in different perspectives, it always displays all the buffers, instead of only those imported.

Thanks!

[2013-03-14 16:16] tr37ion opened #19 "Load last perspective session on Emacs startup?"
Hi, this is a great Emacs script. Yet I have a question:

_How can I keep my persp setup persistant even if I restart Emacs? (autoload on startup)_

I searched the source for a solution, but couldn't find it. It would be really nice, if you could help with this. I can't imagine that I have to setup my persp tags on every restart of Emacs.

[2014-04-18 18:02] gcv opened #22 "Improve kill-buffer behavior"
Right now, using `kill-buffer` can sometimes replace the buffer in the current window with a buffer from a different perspective. It seems to have something to do with which was most recently displayed. I believe this happens because `kill-buffer` calls `replace-buffer-in-windows`, which in turn calls `switch-to-prev-buffer` (which is fairly complicated).

I wonder if there is a way to advise `swi

[2014-07-19 16:21] marcinant opened #25 "Incompatible with ECB"
I got error message below when trying to switch perspective with ECB enabled.

[code]

[2014-10-02 19:27] glucas opened #28 "ido-switch-buffer does not honor ido-ignore-buffers"
When persp-mode is enabled any ignored buffers become visible. Doing an 'ido-switch-buffer' shows buffers like *Minibuf-x* and *Echo Area x*.

Ideally it would be possible to customize (and toggle) ido-ignore-buffers with persp-mode enabled.

[2014-10-26 20:32] egarrulo opened #30 "Feature request: swich to perspective according to buffer"
Hello,

thanks for sharing this useful package.

I wonder whether it could be possible to switch to a perspective by switching to a buffer.  Currently, you must switch perspective first and then buffer.  Being able to switch to a buffer directly would not only save typing, but also mental overhead.  This assumes that each buffer belongs to one perspective only, which should be the case when users

[2014-12-13 01:20] zenspider opened #40 "Dies on load"
Disabled elscreen, restarted emacs, ran `persp-mode` manually and got the following:

[code]

[2015-04-24 18:34] tuhdo opened #46 "Automatically switches perspective when switching to a buffer"
I think this would be a useful feature. Suppose that `perspective` now has a command to switch to all buffer currently opened in Emacs. However, the difference is, when a buffer is selected and that buffer belongs to a different perspective, switch to that perspective.

This is similar to how `ido-switch-buffer` switches buffer when there are 2 or more frames: when a selected buffer is visible in

[2015-05-08 23:15] nex3 commented on #40
I don't know how to do anything with melpa, but I'm about to do a new release with a new version number and hopefully that'll help.

[2015-05-08 23:15] #40 closed

[2015-05-08 23:26] nex3 commented on #28
I think #47 should fix this, but I don't use ido so I don't know for sure. Can you verify?

[2015-05-08 23:26] zenspider commented on #40
_should_ just be a matter of pushing to github at this point. The "version" on melpa matches your last commit time (jan 5).

[2015-05-09 00:12] nex3 commented on #6
I don't use ibuffer personally, but I'd love a patch that adds support.

[2015-05-09 00:13] #22 closed

[2015-05-09 00:13] #30 closed

[2015-05-09 00:13] #46 closed

[2015-05-09 04:18] glucas commented on #28
Yes -- did some quick testing and looks good. Thanks!

[2015-05-09 04:18] #28 closed

[2015-06-08 07:02] fehmud opened #48 "Feature request: check whether Perspective Mode is enabled."
When an user calls a Perspective command while Perspective Mode is not enabled, the call could fail with a cryptic error.  For instance, `persp-switch` fails with `let*: Wrong type argument: hash-table-p, nil`. A more user-friendly approach would be to alert the user, for instance by adding this snippet of code at the beginning of each command:

[code]

Or even:

[code]

Thanks for your attention.

[2015-06-08 08:25] egarrulo commented on #48
Oops! I meant:

    (unless (bound-and-true-p persp-mode)
      (persp-mode 1))

[2015-09-01 17:54] 4DA opened #50 "perspective hides buffers created by erc-autojoin-channels-alist"
Hi. When i turn on perspective via _(persp-mode)_ all buffers created in background by erc from _erc-autojoin-channels-alist_ **are not visible** in buffers list (M-x list-buffers, C-x C-b)

Thanks.

How to reproduce:

[code]

[2015-09-22 23:18] tmccombs opened #51 "emacsclient crashes with error *ERROR*: Perspective `main` already exists"
Sometimes, if I already have an emacsclient open (typically a gui window) and try to start another one (typically a terminal client), emacsclient will die  immediately

If I start it with emacsclient -c it give me this:
 `*ERROR*: Perspective`main`already exists`.

If I start with emacsclient -t it just really messes up my terminal because it starts to layout the emacs screen but then crashes in a

[2015-09-24 21:50] tmccombs commented on #51
I have emacsclient -t setup as my editor for git, and use magit. It looks like this happens when there is an auto-merge when I do a merge.

[2015-10-17 23:27] alphapapa opened #53 "Confusing package names"
I see these packages available in Emacs:
[code]
Your readme says to install `perspective` but to activate `persp-mode`.

What do I do? D:

[2015-10-17 23:32] alphapapa opened #54 "Add multiple buffers at once"
I use Helm, so when I tried `persp-add-buffer`, I selected several buffers with Helm, but only the first one was added.  It would be very helpful if you could add multiple buffers at once.  I was going to add all my org-mode buffers to an org-mode perspective, but doing it one-at-a-time...

[2015-10-21 23:17] vapniks opened #55 "overlap with policy-switch.el"
Are you aware of policy-switch.el: http://www.emacswiki.org/emacs/PolicySwitch ?
It seems quite similar to perspectives.el

[2015-10-24 00:20] nex3 commented on #53
The package named "persp-mode" is Bad-ptr/persp-mode.el, a fork of this package with a confusingly similar but distinct name. We're theoretically planning to re-merge them, but neither of us has the time to devote to it at the moment.

For now, if you want to use this repo's package, use the package named "perspective".

[2015-10-24 00:20] #53 closed

[2015-10-24 00:22] nex3 commented on #55
No, that's very interesting. Thanks.

[2015-10-24 00:22] #55 closed

[2015-10-24 03:05] alphapapa commented on #53
Thanks.

[2015-10-29 01:20] vapniks commented on #55
I've been doing some work to improve it: https://github.com/vapniks/policy-switch

[2016-02-04 15:26] fvaresi commented on #19
I was just trying to achieve something similar by using [desktop-save-mode](https://www.gnu.org/software/emacs/manual/html_node/emacs/Saving-Emacs-Sessions.html), but it doesn't work out-of-the-box.

I guess a little extra work is required to restore perspective state, will look into it when I find some time.

[2016-03-17 22:41] whatyouhide opened #59 "load-theme resets perspectives"
When I run `(load-theme 'solarized-dark t)`, all perspectives are lost and only the current perspective is kept. Not sure if this is a bug, and sadly I don't have enough Emacs-fu to help solving this :( Anything else I can do to help?

[2016-03-25 01:30] jojojames opened #60 "Question around how to use persp-kill"
[code]
I'm trying to write a wrapper method to selectively call persp-kill or delete-window depending on the window count. (persp-kill nil) works but brings up interaction. I'd prefer (persp-kill) to automatically end kill the perspective.

Also wondering if perspective is exposing another variable to check the number of perspectives currently up.

Thanks!

[2016-03-26 01:03] nex3 commented on #60
`persp-kill` will only bring up an interactive prompt if you don't pass an explicit name. If you want to kill the current perspective without interaction, you can just call `(persp-kill (persp-name persp-curr))`.

You can inspect the `perspectives-hash` variable to see the total number of perspectives in the current frame.

[2016-03-26 01:03] #60 closed

[2016-03-26 01:26] jojojames commented on #60
Thanks.

[2016-05-05 14:49] whatyouhide commented on #59
Closing for lack of response. Feel free to reopen this anytime :) Thanks!

[2016-05-05 14:49] #59 closed

[2016-07-14 20:16] lj-ucb opened #61 "Feature request"
Is it possible to add a perspective tab on the side(something like a neotree), listing the current files/buffers/directory structure inside?

Motivation for this is that, I often find myself working with a large code base ( lots of files/directories), but at a given time, I am just interested in a few of them, if perspective allows me to easily define/add/delete/modify the perspective definition,

[2016-07-18 05:26] magnetophon commented on #48
Recent Emacs convert here.
Can confirm!

I imagine the downside would be that these commands become slightly sower?

[2016-07-31 16:10] seagle0128 commented on #19
I switch to use persp-mode, which provides saving and restoring features.
visit https://github.com/Bad-ptr/persp-mode.el.

[2016-08-02 09:01] kootenpv opened #62 "It cannot be used with elscreen-persist"
It would be a really great feature if it would support `(elscreen-persist)`!

It cannot load, suffering from a `#` on boot.

Steps to reproduce:

1) init persp-mode
2) init elscreen-persist
3) elscreen-persist-store
4) restart emacs, and elscreen-persist-restore

Result is that it chokes on a #

[2016-10-26 20:08] pdex commented on #19
I looked into `persp-mode`, but it doesn't play well with projectile (which is part of the reason I'm using perspectives). I'm not interested in using `revive` since `desktop-save-mode` can restore window configurations.

So I threw together some functionality to save/restore the buffers and perspective names using `desktop-save-mode`. I may spend some time figuring out how to save/restore everyth

[2016-12-20 18:22] Ailrun opened #63 "Feature Request: Perspective-specific next/prev buffer switch"
At least I know, perspective doesn't have features that is like `switch-to-next-buffer` or `switch-to-prev-buffer` using specific perspective.

In detail, there is no simple way to change `C-x <C-left>` (`switch-to-prev-buffer`) to perspective-relative one.
For example, suppose that I have 2 perspective `perspA` and `perspB`, and there are 5 buffers  in `perspA`, and there are 7 buffers in `perspB

[2016-12-21 19:43] npostavs opened #64 "FYI: Emacs 26 will remove frame-local variables"
I believe this will break perspective-el.

https://lists.gnu.org/archive/html/emacs-devel/2016-12/msg00843.html

[2017-01-10 22:23] Gastove commented on #64
Just hit this after updating to a new nightly of Emacs 26; definitely breaks perspective.el.

[2017-01-10 22:46] nex3 commented on #64
It should be possible to work around this by creating a map from frames to a struct that contains everything that's currently a frame-local variable. I'm not sure when I'll have time to do that, though.

[2017-07-31 20:13] CeleritasCelery opened #65 "Get persp name from number"
every perspective has a number and a name. Is there a good way to get the perspective name when you have the number and vice versa?

[2017-08-15 20:28] inigoserna commented on #63
I use these functions to achieve the same behaviour you are asking for:

[code]

[2017-08-15 20:34] inigoserna commented on #65
This simple function could help you:

[code]

[2017-08-21 17:26] Ailrun commented on #63
@inigoserna
Thx for you info! I will try it!
Why don't you send a PR?

[2017-08-26 12:36] inigoserna commented on #63
IMO it's a personal customization, not something everyone could be interested in.

[2017-08-26 15:16] Ailrun commented on #63
But it's useful to have, isn't it?

[2017-08-26 18:30] inigoserna commented on #63
Well, I use it daily ;)

[2017-08-27 03:06] Ailrun commented on #63
@inigoserna I mean, it's useful, so there's worth to send a PR with this feature, isn't it?

[2017-09-25 20:57] redshirtrob commented on #64
It's less than ideal, but if you're not actually using multiple frames, you can add this:
[code]

[2017-11-29 16:10] vendethiel opened #66 "Get a list of perspectives in the modeline/... to act like vim tabs"
Hi,

I tend to use perspective (as part of spacemacs) to manage a vim tabs-like environment.
However this approach doesn't give any visual cues as to which perspectives are currently open: you only see the perspective number. Is there a way to see a list?

FTR, this is how it looks on vim:

![](https://cdn.discordapp.com/attachments/233678239896174593/385453854860247040/unknown.png)

[2017-11-29 18:53] nex3 commented on #66
[`persp-update-modestring`](https://github.com/nex3/perspective-el/blob/89a8ef5e8297b113e4f732bb94336608b76e13fd/perspective.el#L411-L422) should include the perspective names in the modestring. Are you sure you have `persp-show-modestring` set to `t`?

[2017-11-29 19:06] vendethiel commented on #66
Oh, I see now. I'm using Spacemacs, and @TheBB's Spaceline doesn't have a fragment for this. I'll go there instead. thank you :)

[2017-11-29 19:06] #66 closed

[2017-12-09 07:34] #65 closed

[2017-12-17 13:31] john2x commented on #64
I did a bit of work in removing frame-local variables from the codebase in my fork at https://github.com/john2x/perspective-el.
I work with multiple frames extensively (via [nameframe](https://github.com/john2x/nameframe) package), so I needed perspective to be future proof :)

Initial tests seems good so far on Arch Linux, Emacs 25.3. Had a bit of trouble around the global-mode-string before I fo

[2017-12-19 01:20] nex3 commented on #64
That would be great, thanks!

[2018-03-11 05:22] arichiardi commented on #64
Trying the @john2x branch as well (thanks!) and reporting back.

[2018-03-13 18:26] arichiardi commented on #64
@nex3 Don't know if this is the right place but with your fork I get an error:

[code]

It is probably linked to [`projectile-persp`](https://github.com/bbatsov/persp-projectile).

[2018-03-14 01:16] john2x commented on #64
@arichiardi yes, I think projectile-persp will need to update its usage of `perspectives-hash` to something like `(frame-parameter nil 'perspectives-hash)`

[2018-03-21 17:17] arichiardi commented on #64
Opened a PR in there: https://github.com/bbatsov/persp-projectile/pull/15

Everything works fine with your branch and my branch on my machine.

[2018-06-06 18:01] chadhs opened #68 "2.0 update breaks persp-modestring"
[code]

this no longer prints persp-mode info in the modeline.

[2018-06-06 18:05] chadhs opened #69 "2.0 change of persp-curr from var to fn returning custom type breaking change"
this change breaks the ability to grab the current perspective's name;
example:

[code]

updating this to be a function call to `(persp-curr)` doesn't resolve the issue as any sequence functions won't work on the return value since type-of is a custom type perspective.

[code]

[2018-06-06 18:45] nex3 commented on #68
`persp-modestring` is no longer a variable, because Emacs removed support for frame-local variables. Instead, you now have to do `'(:eval (persp-mode-line))`.

[2018-06-06 18:45] #68 closed

[2018-06-06 18:50] nex3 commented on #69
`persp-curr` was never a sequence; it was always a perspective struct. It's possible that structs counted as sequences at one point and no longer do, possibly because the version of `cl-lib` you're using changed, but the proper way to get the name of a perspective in any case is with the `persp-name` function.

[2018-06-06 18:50] #69 closed

[2018-06-06 19:01] chadhs commented on #68
works like a charm!  thanks for the help.  :-)

[2018-06-07 02:35] thisch commented on #64
Fixed in #67. Can be closed now

[2018-06-07 13:59] #64 closed

[2018-11-03 21:47] pbgc opened #77 ""Symbol's value as variable is void: <" , after last commit"
After updating perspective on melpa .. with the last commit 1358ba2 , I get this error:

I'm on Emacs 26.1 on OSX 10.13.6, perspective from Melpa, and this happens even with only this as init.el

[code]

EDIT:

Deleted some things I wrote before ... because I discovered that this only happens with the MELPA version ...
Cloning the rep and using:

[code]

Don't give me any error.

[2018-11-03 22:18] pbgc commented on #77
I'm going to delete the issue ... because I byte recompiled the file perspective.el and the error is gone!!!
perspective.elc had the same date has the other files and was created by updating perspective from melpa ... using package ...

[2018-11-03 22:19] #77 closed

[2019-01-16 07:00] phenix3443 opened #78 "does not work with emacs 26.1"
(use-package perspective
  :ensure t
  :disabled
  :config
  (persp-mode)
  )

(use-package persp-projectile
  :after (projectile perspective)
  :disabled
  :ensure t
  :config
  ;; (define-key projectile-mode-map (kbd "s-s") 'projectile-persp-switch-project)
  )

when start emacs, show error:
Error (frameset): Wrong type argument: perspective, "Unprintable entity"

[2019-02-04 09:53] kvolkovich-sc opened #79 "Incompatible with lsp-ui"
Emacs version - 26.1

I use perspective in pair with [lsp-ui](https://github.com/emacs-lsp/lsp-ui).

When [lsp-ui-doc](https://github.com/emacs-lsp/lsp-ui#lsp-ui-doc) feature called (popup with documentation), I got: `error in process filter: persp-add-buffer: Wrong type argument: perspective, nil`.

On MacOS High Sierra in fullscreen mode, desktop workspace with full screen empty Emacs window cre

[2019-02-25 04:20] gcv commented on #19
I took a shot at adding durability support. Please take a look: https://github.com/nex3/perspective-el/pull/80 (or my fork, https://github.com/gcv/perspective-el).

[2019-03-12 00:41] zenspider opened #83 "Not advising buffer-list ?"
I looked through the open and closed issues for something related to this and didn't find anything.

I'm a little surprised that you're not advising on `buffer-list` as that would be the entry point for many/most 3rd party buffer managers (eg I use `bs` and there are several feature requests for others).

Would this be something you'd like? Or is there a reason not to do it (eg, safety)? I'd like

[2019-04-01 03:44] dzop commented on #83
How would this work though? If `buffer-list` was advised to return only the buffers of the current perspective how would programs get all the open buffers in Emacs?

I don't use `bs`, but couldn't you integrate `perspective` with it using something like

[code]

[2019-04-02 09:15] zenspider commented on #83
I wound up doing something very similar:

[code]

Your version has an interesting technique of calling through to the original. I'll have to poke at that, but for now, I'm rather happy with my setup.

As far as your original question goes about programs not seeing all buffers... yes, exactly. That is what I want. For each perspective to basically look and feel like its own instance of emacs w/o le

[2019-04-03 07:47] nex3 commented on #83
I haven't tested, but I suspect pretending *everywhere* that no buffers exist outside the current perspective might cause some internal infrastructure problems. Also, it's sometimes useful to do stuff like grab a buffer from another perspective or check all unsaved buffers everywhere before closing the terminal (something inherently cross-perspective). I think doing some bs-specific config is prob

[2019-04-03 07:47] #83 closed

[2019-05-01 04:30] zwild commented on #79
I got the same error. I think that's because the new feature of Emacs 26 - child frames.

[2019-05-06 18:00] zenspider opened #84 "`desktop-read` breaks perspective-mode, and nearly everything else"
After attempting to run `desktop-read`, with nothing terribly complicated in it, all interactions with perspective, or `switch-to-buffer`, or `debugger-on-error` fail out. The fact that I can't bring up the debugger at all is the sticking point for me. I can't even provide you with any other info but this:

`*Messages*` buffer:

[code]

Those last two errors are me trying to use `perspective-switc

[2019-05-13 19:53] gcv commented on #84
@zenspider: Not sure what's going on with your problem there, but don't waste your time trying to use desktop-save-mode with perspective-el. I have a PR for perspective-el which adds comparable save-restore functionality: https://github.com/nex3/perspective-el/pull/80, please test it!

[2019-05-23 16:20] dzop commented on #78
I'm on

[code]

and I don't experience such an error. Also `frameset` functions are never called by perspective which makes me suspect that the error your are getting has to do with some other package interacting badly with perspective.

[2019-07-20 00:40] zenspider opened #88 "Maintaining perspective"
Per discussion with @nex3... @gcv and I have a vested interest in maintaining perspective. Should we be added as collaborators? Move the project to a new org (possibly breaking melpa, etc)? Etc.

This issue is here to open up the floor for discussion.

[2019-07-20 18:56] gcv commented on #88
It would be better to avoid moving the project and breaking existing references to its current GitHub repository. There is enough confusion with perspective providing `persp-mode`, but co-existing with a fork called [persp-mode](https://github.com/Bad-ptr/persp-mode.el) which also provides `persp-mode` and has [20x more downloads on MELPA](https://melpa.org/#/persp-mode) compared to mainline [pers

[2019-07-22 09:28] zenspider commented on #88
I did say that I wanted to work on this project in a way that fit their original goals/philosophy. They seemed more concerned in handing it off to give it a good home. I would say it is 90% of the way there and just needs some maintenance from us to get it to the finish line.

As to why persp-mode (a fork of this mode) has 20x more downloads? meh. I tried them all out. This was the one that fit my

[2019-07-22 19:17] gcv commented on #88
I'm cool with contributor access. I have no interest in competing with anyone's Emacs packages, but am open to any and all approaches to clearing up confusion.

The ticket list here has had some good ideas added over the years, and I could look into them as time permits.

I haven't reviewed your PR, but should be able to find time in the next week or two. I think the persp-state feature from #80 m

[2019-07-22 23:48] nex3 commented on #88
cc @Bad-ptr, who maintains https://github.com/Bad-ptr/persp-mode.el and has expressed interest in merging the two

I definitely don't have time to maintain this anymore, and I'm happy to hand it off in whatever form the various stakeholders would prefer (giving access to this repo, archiving this and pointing to a fork, etc).

[2019-08-22 06:35] ghost opened #89 "Seems perspective is not working with emacs 26.2"
After installed perspective from MELPA, I added `(persp-mode)` to .emacs.
I got following error when opening emacs...
[code]
Seems this also breaks emacs and I am unable to close emacs or switch buffer.
I got following error when I tried to switch buffer.
[code]

[2019-08-24 07:26] viveketic commented on #89
I don't think the issue is specific to emacs 26.2. I got same issue with emacs 25.2.2. I was able to solve the issue by adding following to `perspective.el` file. I am not sure this is the right way to fix the issue.
[code]
### References

- https://emacsredux.com/blog/2014/02/02/a-peek-at-emacs-24-dot-4-hash-table-keys-and-hash-table-values/

[2019-09-04 00:12] zenspider commented on #88
I'm fine with repo access / admin so I can work on tickets, merge PRs, etc. I'd rather it stay here.

[2019-09-04 00:16] nex3 commented on #88
Okay, I've sent both of you collaborator invites! @Bad-ptr, if you want one too, please let me know.

[2019-09-04 00:26] gcv commented on #88
Thank you @nex3 for creating perspective!! We'll take good care of it.

[2019-09-04 19:38] zenspider opened #90 "Make persp-find-some smarter"
I'm not thrilled with the way `persp-find-some` works when you're killing off perspectives.

The gist: Let's say you're using this mode (persps sorted chronologically) to do a yak shave and you have several perspectives pushed on the stack. You finish up some of them and start to kill the perspectives. The first time, it uses `persp-last` to switch to the last one you were on. That seems fine. But

[2019-09-04 20:11] gcv commented on #90
I wonder if this might be the excuse needed to stop using frame parameters to store state and switch to a global hash table indexed by frame (id). Frame parameters cause other problems, like the one #86 attempts to address. It's kind of a big change, though.

[2019-09-06 12:30] azzamsa commented on #88
@nex3 Thank you for perspective. It helps me a lot.

[2019-09-07 00:53] azzamsa commented on #84
I also tried desktop-mode but no luck, @gcv know what happened? why?

[2019-09-07 01:00] gcv commented on #84
The `Wrong type argument: hash-table-p` error might have occurred because a frame was not properly initialized for perspective-el. In any case, desktop-mode is not supported with perspective. That might change in the future, but in the meanwhile, persp-state-save and persp-state-load from #80. We'll merge that in soon(ish).

[2019-09-07 01:09] azzamsa commented on #84
Thanks. Hope that will be merged soon.

[2019-09-08 00:33] zenspider opened #92 "Basic process for PRs"
I'm totally fine if we merge if one of us approves a PR, but I'm also open to requiring 2 of us. This issue is here for discussion.

I'd recommend we use PRs as well. I'm not going to process-nazi this up with tons of bureaucracy tho. I'd be fine if something goes straight to master if it is an obvious fix to a recent problem.

[2019-09-09 15:43] gcv commented on #92
👍 on pushing to master to fix obvious problems and regressions. No need to add bureaucracy for simple things.

Let's use good judgment on reviewing PRs. For example: #91 is meaty and has some implications (most notably wrt #86 and #90), so I think we should both look at it and make some decisions on how we'll approach the underlying issue of frame parameter unreliability.

For code we ourselves wr

[2019-09-10 09:30] zenspider commented on #92
Awesome. Sounds like we're on the same page.

I'm gonna do PRs for my own stuff and run it by you. If I break something stupid and simple, I'll push straight to master,  but I expect that to be the exception. For some of the bigger reviews, I'll do what I can, but I might punt due to time or lack of personal usage. Happy to defer to others in those cases.

[2019-09-15 21:01] zenspider commented on #92
I prefer rebase merges. Thoughts?

[2019-09-15 21:02] zenspider commented on #92
It looks like @nex3 mostly worked directly on master and did regular merges for PRs. I like a nice flat history where I can do it, but not enough to fight for it. I'm open to suggestion.

[2019-09-15 21:14] zenspider commented on #92
Oh... I also wanted to discuss another bit. I plan on working on this repo, not my fork. Branching+PR model, but directly with this repo rather than having to maintain / sync my own. Thoughts?

[2019-09-16 00:10] gcv commented on #92
I don't have a strong preference with regard to rebase merges vs ordinary merges. I tend to use the latter in general, but in a way which makes the merge itself look like a single bubble on the history (i.e., before merging, a clean rebase from the branch I'm merging into, then perform a `git merge --no-ff`). That looks clean enough for me on `git log --graph` output. Definitely not something I'd

[2019-09-16 00:11] gcv commented on #92
The one really important thing to me here is for at least one of us to have high confidence of a branch's overall correctness before merging to master. I really really don't want to break things for people who install from normal (non-stable) MELPA.

[2019-09-16 13:51] pbgc opened #93 "After latest melpa update: command-line: Symbol’s value as variable is void: <"
Hi,

After last update from melpa I got this error:

command-line: Symbol’s value as variable is void: <

The strange thing is that if I clone  this rep and use HEAD I don't get the error and everything works.

Thanks in advance

[2019-09-16 14:08] pbgc commented on #93
Just removed perspective and pers-projectile and installed again and it now works ...
I really can't understand what happened ... I didn't touch anything.
Sorry!

[2019-09-19 02:23] gcv opened #94 "Improve README"
It'll be helpful to extend the README to include more detail, along with some sample use cases.

Reddit thread which prompted this: https://www.reddit.com/r/emacs/comments/d66s8r/how_to_get_the_most_from_perspectiveel/

[2019-09-20 16:15] gcv commented on #92
@zenspider: I noticed you have a branch with a version bump out. My opinion on tagging stable releases: let’s do that when (1) we add a substantive feature, and (2) we’re reasonably confident it’s stable. Maybe 1-2 weeks of gestation time on master? FWIW, your recent merge counts.

I like the idea of keeping MELPA Stable users on reasonably recent cuts of the code.

[2019-09-21 00:04] zenspider commented on #92
Yep. Totally.

[2019-09-21 00:05] zenspider commented on #92
I think 1-2 weeks makes sense. I’m down. I’ve been using this code for months now so I know it works *for me* (except the way it chooses a new perspective after killing), but that’s not saying much.

[2019-09-26 03:42] gcv commented on #88
@nex3: Could you please enable Travis CI for the perspective-el repository? This requires owner-level permission. Thanks!

[2019-09-26 08:26] nex3 commented on #88
Done!

[2019-09-27 19:14] gcv commented on #89
This should be fixed in commit 7d3c966ee.

[2019-09-27 19:14] #89 closed

[2019-09-27 19:21] gcv commented on #78
@phenix3443: Any idea what other package might be causing perspective incompatibility? As things stand, packages which create frames with `after-make-frame-functions` bound to `nil` will cause all kinds of interesting perspective bugs. We'll try to resolve that soon.

[2019-09-28 01:22] gcv opened #99 "Convert perspective-el to lexical scope"
Time to append

[code]

to the first line of `perspective.el`. (And fix whatever breaks as needed.)

[2019-10-09 03:59] zenspider opened #100 "Frame level perspective death does not take buffer with"
1. Create a second frame
2. Create some perspective in there
3. Open a buffer
4. nuke the frame

The perspective dies with the frame but the buffers aren't removed when the perspective goes.

[2019-10-09 04:01] zenspider opened #101 "Want a hook for perspective renames"
title

[2019-10-09 04:04] zenspider commented on #99
# YES PLEASE

[2019-10-09 04:05] #92 closed

[2019-10-09 04:06] #88 closed

[2019-10-23 02:37] zenspider opened #105 "Don't accept an empty perspective name?"
I just accidentally did this. It was a bit confusing. Not sure how I'm gonna delete it. :P

[2019-10-23 03:02] gcv commented on #105
Would `(persp-kill "")` work?

This doesn't happen to me because I use `ido-completing-read` for perspective. Definitely worth locking out, though.

[2019-11-24 11:51] zenspider opened #110 "Something about persp-state-save messes up paredit terribly"
I haven't diagnosed other that to figure out that `persp-state-save` is the culprit. But I can't `M-C-f` or `M-C-u` in or after this function.

[2019-11-24 11:56] zenspider commented on #110
I have NO idea why, but it is the parenthetical inside of the doc string:

[code]

works fine.

[2019-11-24 12:12] zenspider commented on #99
I think I'm close. I'm also removing `cl` at the same time. Currently battling with one last test:

[code]

I'm not positive, but maybe something to do with `cl` `defstruct` vs `cl-lib` `cl-defstruct`?

[2019-11-24 12:23] zenspider commented on #99
I think I have this now... Gonna bang on it for a while...

[2019-11-25 03:08] gcv commented on #110
Good times. I had this problem, too, but blamed the autoload cookie. Good catch! I can reproduce the problem with this code:

[code]

Sounds like a bug worth filing with paredit. Meanwhile, please commit your patch above to master.

[2019-11-25 04:54] conao3 opened #111 "Merge perspective.el and persp-mode.el"
cc @Bad-ptr

I agree this comment.
https://github.com/nex3/perspective-el/issues/88#issuecomment-513996542

`perspective.el` and `persp-mode.el` provide almost the same feature but there are also different features.

If we can add some options so that users of these two packages don't bother, new persp-mode user don't have to worry about which package to use.
Two package naming have confusing ( ht

[2019-11-26 01:59] gcv commented on #111
There's definitely a lot to be said for eliminating the confusion caused by two packages. A good start would be to figure out exactly where the two differ.

[2019-11-26 03:48] gcv commented on #19
This feature is now available as `persp-state-save` and `persp-state-load`.

[2019-11-26 03:48] #19 closed

[2019-11-26 03:49] gcv commented on #78
Closing this ticket, since we now have a test suite and cannot reproduce it. Please reopen if you still have problems.

[2019-11-26 03:49] #78 closed

[2019-11-26 05:11] gcv commented on #79
This should now be fixed.

[2019-11-26 05:11] #79 closed

[2019-11-26 09:58] #110 closed

[2019-11-26 10:02] zenspider commented on #99
Um... potentially stupid question... but how do I know I did it right? Everything SEEMS fine.

😛🤷‍♀️

[2019-11-26 19:54] gcv commented on #99
I just set up my work environment with the following PRs and changes in a local "release candidate" branch:

- https://github.com/nex3/perspective-el/pull/95 (stability and cleanup improvement)
- https://github.com/nex3/perspective-el/pull/109 (byte compile warnings)
- https://github.com/nex3/perspective-el/pull/112 (lexical scope switch)

I will run it through its paces as I work over the next da

[2019-11-27 03:39] zenspider opened #113 "Switch to read read for deserialization"
Relying on `thing-at-pt` internals is a bit sketchy and our file format doesn't need any extra complexity. So let's switch to plain `read`.

[2019-11-27 03:47] zenspider commented on #61
I think this is out of scope for perspective. `speedbar`, `sr-speedbar` and friends provide this type of functionality. You just want to filter the buffers by using `(persp-buffers (persp-curr))` (which I really want to make a simple helper function for).

Closing.

[2019-11-27 03:47] #61 closed

[2019-11-27 03:51] zenspider commented on #62
We've recently added our own persistence mechanism (see `persp-state-load`). perspective.el is probably still incompatible with, but supersedes, elscreen-persist.

Closing.

[2019-11-27 03:51] #62 closed

[2019-11-27 04:48] zenspider commented on #6
I don't use `ibuffer` either. I use `bs-show`, but the idea is the same. They allow you to specify some sort of function or list of functions to filter the current list. I'm refactoring my `bs-show` filters and making them available. Barring a name change, `persp-buffer-filter` should do what you need to do (I just tested it in `ibuffer`).

Closing.

[2019-11-27 04:48] #6 closed

[2019-11-27 04:49] zenspider commented on #25
This is 5 years old with no other comments... is this still relevant? OP? Can you close if not?

[2019-11-27 05:37] zenspider commented on #48
Defined and adding `(persp-mode-guard)` to `persp-switch`.

One of the amazing things is that this isn't just an infinite loop, but you can't escape it even with `top-level`.

[2019-11-27 05:37] zenspider commented on #48
Closing this...

[2019-11-27 05:37] #48 closed

[2019-11-27 05:39] zenspider commented on #51
Cannot reproduce. This is 5 years old... I suspect it isn't valid anymore. Closing.

[2019-11-27 05:39] #51 closed

[2019-11-27 05:40] zenspider commented on #54
I don't use helm, but patches are welcome.

Since nobody seems to be clamoring for this, it might be considered out of scope.

[2019-11-27 06:07] zenspider commented on #84
I can't reproduce this anymore. I think we've covered our bases. Otherwise, maybe we can get more info if we can reproduce it later. Closing.

[2019-11-27 06:07] #84 closed

[2019-11-27 16:32] tonycpsu commented on #63
Looking for something like this myself, and the functions above seem to not be compatible with current versions of perspective.  I'm getting `Symbol’s value as variable is void: persp-curr`.

[2019-11-27 16:46] seagle0128 opened #114 "Package cl is deprecated in 27"
In Emacs27, package `cl` is deprecated. Should use `cl-lib` instead.

[2019-11-27 16:47] #114 closed

[2019-11-27 18:26] gcv commented on #54
Let's keep this one open for now. I actually ran into a situation yesterday when I wanted this feature and remembered this ticket.

[2019-11-27 18:47] gcv opened #115 "Internal: Investigate the use of buffer-history and buffer-name-history"
It's tracked in the `perspectives-hash`, gets huge and stale, and is copied to every perspective.

It seems to only be relevant to the vanilla (i.e., not ido or any other replacement) implementation of `switch-to-buffer` (https://www.emacswiki.org/emacs/MinibufferHistory).

I think the intent was to keep perspective-specific buffer history around to help narrow down search results (i.e., `C-x b` t

[2019-12-04 01:54] #113 closed

[2019-12-04 01:54] gcv commented on #113
I've been running that patch for about a week, and it seems to work.

[2019-12-04 01:56] gcv commented on #99
The change has been stable for me. Very happy with it.

[2019-12-04 01:56] #99 closed

[2020-01-22 23:53] #115 closed

[2020-01-22 23:54] #94 closed

[2020-01-27 04:25] gcv commented on #54
@alphapapa: I'm looking into this, and... I guess I'm not as proficient with Helm as I thought (which wasn't very).

How do I select a series of files in Helm and feed them to an arbitrary command, e.g., `persp-add-buffer`? I usually just end up in Helm's projectile integration browser, and I know how to mark several files, but hitting Tab gives me a canned list of commands. I don't see a way to i

[2020-01-28 04:22] gcv commented on #63
A few thoughts on this.

To address @tonycpsu's comment about @inigoserna's code not working with current Perspective. You can fix it by changing `persp-curr` to `(persp-curr)`. If that's the functionality you want, that should be enough.

However, I don't think that code really does the right thing with regard to going to the "next" or "previous" buffer. Since it sorts buffers alphabetically, it

[2020-01-28 05:24] gcv commented on #50
The solution is to have erc call `persp-add-buffer` in a hook after it creates a buffer in the background.

Supporting this explicitly for other Emacs software is out of scope for Perspective, and is easy enough to do. I will, however, gladly accept a PR for documenting the procedure for popular packages.

[2020-01-28 05:24] #50 closed

[2020-01-28 05:25] gcv commented on #90
Looking at this and thinking about it... doesn't `(persp-names)` respect the sorting order? I just tried it, and perspective killing proceeded in pop-the-stack order. IOW Perspective currently behaves just like description suggests it should, at least for the yak shave workflow. Maybe I'm missing something?

[2020-02-13 02:31] gcv commented on #63
Closing this unless someone convinces me that Perspective-aware buffer switchers are inadequate, and that there's a reasonably simple implementation path.

[2020-02-24 20:12] #100 closed

[2020-02-24 20:13] #101 closed

[2020-02-24 20:13] #105 closed

[2020-02-28 23:08] jkdufair commented on #93
I just ran into this issue updating from Melpa. Glad to help troubleshoot.

[2020-02-28 23:49] gcv commented on #93
Let's try to get to the bottom of this. A few things to look at.

1. Did you restart Emacs after updating your packages? Try that first.
2. Look in the perspective installation directory. Is the perspective.elc file stale by any chance (older than perspective.el)?

[2020-03-02 11:39] pbgc commented on #93
@pbgc I closed the issue before ... but I get this every time I update from melpa ....

It happened again today!
1 - I restarted Emacs after updating (and I get the error)
2 - perspective.elc has the exact timestamp of perspective.el

The way I solve this every time is to remove: projectile, perspective and persp-projectile and reinstall them again ..

[2020-03-02 14:26] jkdufair commented on #93
And, to add a data point, the error does not occur until after one restarts Emacs (which I suppose isn't entirely necessary, but I do it once a week when I update packages)

[2020-03-02 18:32] gcv commented on #93
I reproduced something similar to this problem, but it took some head-scratching and I am _not_ certain I hit the bug exactly the same way as @jkdufair or @pbgc, so we have more work to do.

This seems to happen when an elc file loads and hits undefined references. In my case, the `<` is a red herring, and the missing reference is most likely something else. I reproduced the problem by byte-compil

[2020-03-02 18:37] pbgc commented on #93
@gcv

I'm not using use-package ... yes I know I should :) but have a very big setup and never bothered to change.
The lines I have for perspective are:
`(require 'perspective)
(persp-mode)

(defun my/persp-neo ()
       "Make NeoTree follow the perspective"
       (interactive)
       (let ((cw (selected-window))
             (path (buffer-file-name))) ;;save current window/buffer
             (p

[2020-03-02 18:42] gcv commented on #93
Can you reproduce the error if you comment out everything except the first two lines (the ones loading perspective)?

[2020-03-02 18:45] pbgc commented on #93
@gcv How can I try to do that ? Because the error only happens to me after upgrading the package ... (just did it today). After removing it and reinstalling again (already did it unfortunately) it does not happen anymore until next update.

[2020-03-02 19:03] gcv commented on #93
This is one of many reasons why I keep my ELPA packages under my own source control. :)

Anyway: I just pushed a small README update I've been meaning to make anyway. Not sure how long MELPA takes to run a build, but you'll be able to upgrade again soon. Before you do this, though, make a copy of the current perspective-* directory in your elpa installation directory and put that copy somewhere ou

[2020-03-02 19:13] gcv commented on #93
One more thing: do you byte-compile your init file?

[2020-03-02 20:01] jkdufair commented on #93
[code]

Looks like mine might be related to using `persp-projectile`

Perhaps I'm not configuring the use of the two correctly?

[2020-03-02 20:02] jkdufair commented on #93
Also, my init file is an org file and it get's org-tangled on startup. Not sure if that results in byte compilation or not.

[2020-03-02 21:32] gcv commented on #93
@jkdufair: Your configuration looks fine, but I've learned to ignore my instincts on this when the Emacs byte-compiler gets involved. :'(

Let's start with something simple. Does the error occur on Emacs startup, or only after you invoke a persp-mode command? If it's on startup, put `(setq use-package-verbose 'debug)` immediately after your use-package bootstrapping code. That should give you a `*

[2020-03-03 09:59] pbgc commented on #93
@gcv still waiting for elpa. I have currently perspective-20200301.1858 that I updated yesterday.

I don't byte compile my init file ... I don't restart emacs often and I don't bother.

[2020-03-03 18:24] gcv commented on #93
Looks like MELPA didn't pick up the change I made since it was just to the README, which is not included in the build recipe. I just made a small change to the main source file, so that should get picked up. Try again soon.

[2020-03-03 22:47] pbgc commented on #93
@gcv finally could update.
I repeated the process without and with the extra lines on init.el (copying into .emacs/elpa the folder previously copy to another place out of .emacs) ... and the update was done without the error :(

[2020-03-04 01:32] gcv commented on #93
Oh boy.

A few weeks ago, I made some changes in how Perspective handles references to external packages, so that may have made the problem go away..?

Definitely waiting to hear more reports.

[2020-03-07 18:31] FabArd opened #127 "perspective selection in header line with mouse"
I'd rather have the name of the perspectives in the header line.

(setq persp-show-modestring 'header)

When this option is activated it is impossible to select the names with the mouse whereas when option mode line is activated it is possible.

Here are the modifications I've made to solve this problem :

(defconst persp-header-line-map
  (let ((map (make-sparse-keymap)))
    (define-key map [hea

[2020-03-08 01:42] gcv commented on #127
Looks good. Want to open a PR?

[2020-03-08 10:22] FabArd commented on #127
Yes.
Can you do it, or can you tell me how to do it ?
I'm not familiar with git !

[2020-03-09 02:06] gcv commented on #127
Done in https://github.com/nex3/perspective-el/commit/c869e23c02c6339de998c573c72b34b27b72ec4e.

I gave you credit in the commit message.

The patch should appear in MELPA in the next build. Let me know if you need this tagged for MELPA Stable also.

[2020-03-09 02:06] #127 closed

[2020-03-09 10:34] pbgc commented on #93
@gcv updated today from melpa and got the error after restarting emacs.
I made a copy of the previous version.

[2020-03-09 20:08] gcv commented on #93
I think I found the problem, and yeah, it's related to the huge footgun that is Emacs eager macroexpansion. The cleanest fix is to disable byte-compiling perspective.el. I really don't want to do this, and need to think if I can work around it.

[2020-03-10 05:57] gcv commented on #93
All right, I committed a workaround: https://github.com/nex3/perspective-el/commit/920d15ef85cd17fb3ab18afc5b0dd5d47dba8852

Give this a try when it hits MELPA and let me know if it made the problem go away.

[2020-03-10 11:12] pbgc commented on #93
@gcv  I just updated to 20200310.552 without error !

[2020-03-10 13:08] jkdufair commented on #93
I was also successful upgrading. Thanks so much @pbgc for this glorious ugly hack.

[2020-03-10 17:38] gcv commented on #93
Great news! This is important enough that I tagged a new version for the long-suffering MELPA Stable users.

[2020-03-10 17:38] #93 closed

[2020-05-10 07:32] aaronjensen opened #128 "Creating new scratch buffer sometimes prevents emacsclient from working"
I'm not sure what the exact repro is, but occasionally I get into a state where if I open a file via emacsclient, it will immediate quit with an error saying that the `*scratch* (my-persp)` buffer already exists.

If I switch away from a persp buffer in my main frame and try again, it works.

[2020-05-10 15:46] aaronjensen commented on #128
Also, there are other strange behaviors, like if it does successfully open a new frame and I close that frame with `C-x C-#`, it will change the layout of the main frame and actually put `Minibuf-1` in one of my main window areas. If persp-mode is disabled, this does not occur.

[2020-05-11 19:57] gcv commented on #128
Do these problems only occur when you use multiple frames? Also, what do you mean by "switch away from a persp buffer in my main frame" — not sure what is a persp buffer? Is your emacsclient rigged to open files in a brand-new frame?

[2020-05-11 20:54] aaronjensen commented on #128
Yes, I use either `emacsclient --tty`, or, when I was reproducing this `emacsclient -c`

Sorry, that wasn't clear, and that's in part because the repro itself wasn't clear to me. Basically, if I go to back to the scratch buffer for a persp, the repro doesn't seem to happen.

I have a GUI frame that starts the server with `server-start`. I then, from the terminal, open new frames, typically tty fra

[2020-05-11 21:23] gcv commented on #128
Why is emacsclient triggering persp-rename? Or is that unrelated?

[2020-05-11 21:39] aaronjensen commented on #128
Here's the stack trace:

[code]

[2020-05-11 23:19] aaronjensen commented on #128
Ah! It's persp-projectile that's the problem:

https://github.com/bbatsov/persp-projectile/blob/master/persp-projectile.el#L101

[2020-05-12 00:45] aaronjensen commented on #128
Okay, I believe that it's actually a bug in persp-projectile. That advice is completely broken—it shouldn't need to rename a persp if it's already correct and new frames actually start with the buffer of the previous frame as well as the persp, even when launched from emacsclient,

So:

1. Frame 1 is on persp `.emacs.d` and in a file that is in the projectile project `.emacs.d`
2. `emacsclient --t

[2020-05-13 05:37] gcv commented on #128
Spectacular debugging. Thanks!

I don't use persp-projectile (though I do use and like Projectile itself) and never than into this problem. It's easy to reproduce just by getting a new frame and renaming its `main` perspective to one that already exists on another frame. Since independent perspectives in different frames is a distinguishing feature of Perspective from the [persp-mode fork](https:/

[2020-05-13 07:00] aaronjensen commented on #128
Looks like that worked, thank you!

[2020-05-13 07:00] #128 closed

[2020-05-31 06:51] brandelune opened #129 ""unrelated" conflict with magit"
In your "Some Musings on Emacs Window Layouts" you suggest:
[code]
For some reason, this very weirdly conflicts with magit when I have 2+ frames with different front facing buffers.

-> in one frame, I do magit-status, stage modifications, and the moment I hit c to commit, the frame is killed, I am moved to the other frame and magit tells me that there is nothing staged in the new frame, do I want

[2020-05-31 15:16] brandelune commented on #129
Considering the replies on the issue I raised on magit, may I suggest that you add a note to your code to explain that it may break packages that depend on the default behavior ?
https://github.com/magit/magit/issues/4132

[2020-05-31 20:13] gcv commented on #129
This is a breaking change in Magit since its last released version (2.90.1). I disagree with it, and will comment on the ticket you linked to. If Magit maintainers do not implement the fix I recommend, I will indeed update my suggested setting to explicitly exclude `\*magit` buffers.

BTW, to run an Emacs package (or multiple packages) in a sandbox environment, one easiest way is to clone the [mel

[2020-05-31 23:02] brandelune commented on #129
Thank you very much for your followup and for the help.

[2020-06-01 20:21] gcv commented on #129
All right! Magit deployed the fix I suggested: https://github.com/magit/magit/commit/035c24055c0e111187d554a0a214d6f0cbfb4bf1, it's in MELPA now. I think we're all good here. 😁

[2020-06-01 22:36] #129 closed

[2020-06-03 23:54] jivanmukti opened #130 "Perspective loses list of buffer when using bury/unbury-buffer"
Hi!

Perspective works perfectly, but when I scroll through buffers using bury-buffer and unbury-buffer, it scrolls through the global buffer list, and adds each buffer in the scroll to the current perspective. Is there any way to have bury/unbury-buffer scroll through the buffers in the current perspective only?

Thank you!

[2020-07-17 14:21] JuanGarcia345 opened #131 "Helm support broken since v3.6.3"
Hi!

Thank you very much for this handy package. Unfortunately, since version 3.6.3 of `Helm` (commit [f7fa3a9e](https://github.com/emacs-helm/helm/commit/f7fa3a9e0ef1f69c42e0c513d02c9f76ea9a4344)) the buffers list is not created with `Ido` anymore, this breaks `perspective-el` support for `Helm`. Is there any way to circumvent this issue?

Thank you!

[2020-07-18 03:16] stugots opened #132 "Automatically loading state from a file in my .emacs"
I want to load a state (currently I have only one, `main`) when Emacs starts.  I tried this in my `./emacs`:
[code]
...but it doesn't work.  I still have to do a `C-x x C-l` to load the file and automatically switch to `main`.

What am I doing wrong?

[2020-07-18 05:53] gcv commented on #132
You might be getting burned by `use-package` lazy loading semantics. What if you add `:defer nil` before the `:config` form?

If that doesn’t work, maybe take a look at the `*Messages*` buffer after startup and look for errors?

[2020-07-18 14:08] stugots commented on #132
Duh, `*Messages*`! I had a typo ("perps-state-switch")!

I fixed that and also added an `:ensure t`.  But, still no good. :(

I'll try a version of my `.emacs` with virtually everything else deleted later today.

Here's the current code:
[code]

[2020-07-18 19:02] gcv commented on #132
`:ensure t` will not help here; it does package installation, not loading, and you already have the package installed. I think you’re running into trouble with deferred loading. So try some combination of `:defer nil` and `:demand t`, especially if you have `use-package-always-defer` set to `t`. If that doesn’t work, I’ll try to reproduce your setup locally and I’m sure we’ll figure it out.

[2020-07-19 15:45] #25 closed

[2020-07-19 15:50] #130 closed

[2020-07-19 20:01] gcv commented on #131
Thank you for bringing this to my attention. I pushed a workaround with commit c2d3542, which seems to work for me as expected. It is now available in MELPA. Could you please try it and let me know if it works?

[2020-07-19 20:03] gcv commented on #90
Let's reopen if this is still something we need to look at.

[2020-07-19 20:03] #90 closed

[2020-07-19 22:35] stugots commented on #132
Adding `:defer nil` and `:demand t` did the trick.  Thank you!

[2020-07-19 22:35] #132 closed

[2020-07-20 15:42] JuanGarcia345 commented on #131
It works like a charm! Thank you very much.

[2020-07-20 15:42] #131 closed

[2020-08-09 09:12] blahgeek opened #133 "Last active buffer from old frame should not be added to new frame's perspective while using emacsclient"
### Steps to reproduce

1. Run emacs daemon.
2. Create first frame (`emacsclient -c`), find some buffer(say, `init.el`)
3. Create another frame (`emacsclient -c`)

### Expected behavior

Since the new frame created by emacsclient finds scratch buffer by default, the main perspective of this new frame should only contains this current scratch buffer.

### Actual behavior

The main perspective of th

[2020-08-11 00:59] gcv commented on #133
I implemented something similar to your workaround on this branch: https://github.com/nex3/perspective-el/tree/gcv-new-frame-fix

Let me know if that branch works for you.

[2020-08-11 16:23] blahgeek commented on #133
Works for me, thank you for your implementation.

One little issue though (which also apply to my own workaround): the first frame that emacsclient opened defaults to open the welcome buffer with the emacs logo instead of scratch buffer, but with this patch, it will always show the scratch buffer. Also, it seems that some people would customize this behavior (e.g. https://github.com/emacs-dashboar

[2020-08-12 06:01] gcv commented on #133
Good point. I changed my implementation to respect `initial-buffer-choice`.

Fix now merged into master, should be in MELPA soon.

[2020-08-20 02:13] blahgeek commented on #133
@gcv I noticed that you committed another change to not kill perspectives when closing frames created by emacsclient. (https://github.com/nex3/perspective-el/commit/13fb1ddcbe0c10f1678604f4b98f32e0ebd0f343) Before that commit, this "kill buffers when closing frames" feature works well for me with emacsclient and I've never encountered the bug you have. I cannot reproduce the crash with your descri

[2020-08-20 03:51] gcv commented on #133
Emacs 27.1 with Mac patches, built from source. This used to work fine, but I retested with 26.3 and had the same problem. It’s totally bizarre.

I actually don’t mind reverting the patch, since I don’t use emacsclient with dedicated frames. If this problem doesn’t occur for anyone else.

[2020-08-20 05:44] gcv commented on #133
Looking into this a bit further: the problem only occurs if `server-start` was called before `persp-mode` initialized. Otherwise, it works just fine. Let me try to work around it.

[2020-08-20 06:49] gcv commented on #133
Just pushed https://github.com/nex3/perspective-el/commit/da3a3602070c6ad5c977cb5ec989ce7b192b475b.

The procedure in the commit is 100% reproducible on my machine with Emacs 27.1 in a sandbox environment (i.e., with only `perspective-el` installed and no other configuration loaded).

[2020-08-24 13:48] blahgeek commented on #133
I found another related issue:

1. Open frame A (by default, scratch buffer is opened), open /some/file.txt here
2. Open frame B (also, scratch buffer is opened), kill this scratch buffer

Actual behavior: /some/file.txt buffer is added to frame B.

It seems that during the call of `switch-to-prev-buffer`, `set-window-buffer` is called which causes the buffer to be added to perspective.

[2020-08-24 19:24] gcv commented on #133
Emacs itself does unexpected things and pulls up hidden buffers like `" *Minibuf-0*"` when you kill the last normal buffer. In the case of Perspective, the `*scratch*` buffer is shared between the default `main` perspectives of different frames, and killing it will impact other frames. `prev-buffer` is also a tough nut to crack for Perspective (see https://github.com/nex3/perspective-el/issues/63)

[2020-09-02 13:09] magne-hov commented on #133
I have an issue which sounds like it might be similar to what is being described in this issue. I use a lot of short-lived `emacsclient -c` for things such as the _Edit with Emacs_ plugin for Firefox. Often when I close a frame it will cause the current perspective of a different frame to be killed. Additionally, the killed perspective is killed in such a way that it is not removed from the list o

[2020-09-02 18:33] gcv commented on #133
@magne-hov: Yes, that’s exactly what I observed. The problem should be worked around in 2.11. That said, you may find the workaround also undesirable, depending on how you use the short-lived frames. If you open other buffers in those frames, they will then become orphaned (i.e., unassociated with any perspective).

If this is a problem, try changing your Emacs setup to start the emacsclient serve

[2020-09-08 20:47] magne-hov commented on #133
@gcv All of my issues seem to have vanished since upgrading to 2.11. Thanks for your efforts on this. Orphaned buffers is no problem for me.

[2020-11-04 20:06] Ultramann opened #134 "C-k in persp-ivy-switch-buffer doesn't maintain perspective local buffer list"
First, I love perspective, so thanks for all the work on this package; now on to the issue.

If you invoke `C-k` in the `persp-ivy-switch-buffer` minibuffer the selected buffer is correctly killed, but the minibuffer buffer list is updated to include all buffers, not just perspective local ones. I did a little homework and the cause seems apparent.
1.` persp-ivy-switch-buffer` calls to `persp--swi

[2020-11-07 00:07] #133 closed

[2020-11-09 09:09] gcv commented on #134
Good catch! I just pushed a workaround for this problem: e4cbee6a13. It should now be in MELPA. Could you please try it and let me know how it works for you?

[2020-11-09 14:46] Ultramann commented on #134
Seems to work perfectly! Many thanks!

[2020-11-09 14:46] #134 closed

[2020-11-15 09:46] KaratasFurkan opened #137 "winner-undo breaks perspectives"
When I switch from perspective A to perspective B and run `winner-undo`, window layout of B becomes same with A.

[2020-11-15 22:13] isamert opened #138 "tab-bar-mode support"
I saw that it's mentioned in the README but I would like to know if is there any progress or what do you have in your mind generally. I would also like to contribute for getting this feature if you can give me a few starting points.

[2020-11-16 00:26] gcv commented on #137
Yes, I know. Definitely worth fixing.

I think it can be done by advising the `winner-ring` function and changing winner rings to key on frame+perspective pairs, rather than just frames. The current perspective would be the one always used (I hope that's not too much of a limitation). Unfortunately, it looks like `winner-ring` is defined using `defsubst` instead of `defun`, so I'm not sure if Elis

[2020-11-16 01:29] gcv commented on #138
Cool!

I was actually thinking about that last night, and I think the way [Bufler](https://github.com/alphapapa/bufler.el) handles `tab-bar-mode` makes a lot of sense (look at `bufler-workspace-tabs.el`):
- make a separate minor mode for it, `persp-tabs-mode` or another good name — that way it's opt-in for people who (1) don't want it, or (2) use an older version of Emacs
- advise `tab-bar-*` func

[2020-11-27 17:52] aaronjensen opened #139 "read-buffer now takes 4 arguments"
`read-buffer` takes a 4th argument, `predicate`, which is used by `project.el`'s `project--read-project-buffer`.

`persp-read-buffer` only takes 3 arguments, so it errors when using `project--read-project-buffer`.

[2020-11-28 01:55] gcv commented on #139
I pushed a change to the gcv-fix-read-buffer` branch (https://github.com/nex3/perspective-el/tree/gcv-fix-read-buffer). Could you please try it and let me know if it works? I don't see a `project--read-project-buffer` function in Emacs 27.1 `project.el`, so I don't quite know how to test this.

[2020-11-28 03:49] aaronjensen commented on #139
That seems to work well for me, thank you. It's possible that that function is new in Emacs 28

[code]

[2020-11-28 04:29] gcv commented on #139
Got it. Change merged to master, so it should be in MELPA soon.

[2020-11-28 04:30] aaronjensen commented on #139
Thank you for the quick fix.

[2020-11-28 04:30] #139 closed

[2020-12-08 11:07] zenspider opened #141 "persp-created-hook triggering in GUI when emacsclient -t used"
I'm seeing something that I think is different from the server-before-persp kludge I found in master. I've tweaked stuff to ensure I'm loading persp before `server-start`, then when I use emacsclient in the terminal (so, another frame? I guess?), when I start AND stop it it seems to trigger my `persp-created-hook`:

[code]

When I'm bringing up a buffer using `emacsclient -t` I'd prefer to altoget

[2020-12-10 06:04] gcv commented on #141
I'm having a hard time reproducing this problem. First of all (on a Mac), the `emacsclient` binary in my 27.1 build seems to ignore `-t` and always opens a graphical frame. Not sure what's going on here. Second, when I explicitly start an Emacs instance using `-nw`, the behavior you describe doesn't occur. `persp-created-hook` runs just once.

As for bypassing Perspective altogether in some types

[2020-12-15 02:47] QiangF opened #142 "persp-ivy-switch-buffer doesn't keep the buffer list order"
ivy-switch-buffer by default orders the buffer list by access time, which is broken in the persp command.

[2020-12-18 00:04] #142 closed

[2021-01-13 08:23] Randy1Burrell opened #144 "Perspective work kill workspace"
I have been using perspective for a few weeks now. Pretty neat package, but I have encountered a problem. Whenever I try to invoke persp-kill I get the following error:

[code]

Here's my configuration
[code]

[2021-01-14 01:33] Randy1Burrell commented on #144
Sure, `persp-killed-hook` returns `(treemacs--on-scope-kill)` which returns `nil` when evaluated.

The perspective installation is up to date. I tried reinstalling fresh copies more than once before I submitted this issue.

Based on the return value, and having `treemacs` and `treemacs-perspective` packages installed, do you think this might be an integration issue between these three packages?

[2021-01-14 23:51] gcv commented on #144
It crashes because of the way treemacs-perspective calls the hook. You are probably the first one to have ever run that code path. :)

Try this implementation of `persp-kill`, which will just overwrite the one in Perspective with one that calls `persp-killed-hook` with an argument:

[code]

Let me know if it works. Even if it does, though, IMO it's a bug in treemacs-perspective. It expects `treema

[2021-01-15 03:56] Randy1Burrell commented on #144
Yes this worked thanks.

I thinks it's a treemacs-perspective issue too.

[2021-01-15 05:47] gcv commented on #144
Great. I want to open a Treemacs PR to sort this out. Here's my patch: https://github.com/gcv/treemacs/commit/c536ec2e24594c311ffab1a0fdfc9f1af6f848a3

Could you please give it a quick spin before I open the pull request? It seems to work for me, but I never used treemacs-perspective before (though I sometimes use just treemacs by itself) so it'd be good to have you look over it. You'll have to re

[2021-01-15 08:37] Randy1Burrell commented on #144
@gcv just tested it and it seems to be working great.

[2021-01-16 20:21] gcv commented on #144
@Randy1Burrell: This bug should now be fixed in treemacs.

[2021-01-16 20:29] Randy1Burrell commented on #144
@gcv great, thank you.

[2021-01-16 20:29] Randy1Burrell commented on #144
Closing!!

[2021-01-16 20:29] #144 closed

[2021-01-19 09:20] dams opened #145 "change key binding (but not the prefix)"
Hi,

Thank you for this awesome package. I'm using it with a custom prefix key (so far so good) but I'd like to change the key bindings for "next" and "prev".
I'd like to change it from "n" to "C-n"

I've seen it's definied here: https://github.com/nex3/perspective-el/blob/master/perspective.el#L288
But it doesn't seem to be customizable. Is there any way I can change these bindings without changi

[2021-01-19 23:25] gcv commented on #145
You can always override the binding after loading the package. With `use-package`, something like this should work:
[code]
Or without `use-package`:
[code]
Untested but should give you ideas about how to make it work. :) Feel free to follow up if you have trouble.

[2021-01-20 22:02] dams commented on #145
thanks !

[2021-01-20 22:02] #145 closed

[2021-01-23 07:37] Randy1Burrell opened #147 "Perpective causes Emacs to freeze"
When using tramp to open remote files os using ssh-mode, switching between buffers using `persp-ivy-switch-buffer` or `persp-counsel-switch-buffer` causes Emacs to freeze. This is especially true when you have more than one remote buffer open.

I could be wrong but `persp-ivy-switch-buffer` and `persp-counsel-switch-buffer` seem to be trying to build a graphical view of each buffer so that it disp

[2021-01-24 00:52] gcv commented on #147
I can't reproduce this problem, though I don't have any handy remote hosts to ssh into and just tried ssh to localhost (which might bypass whatever you're running into). It's certainly possible that the way Perspective calls into Ivy is suboptimal for remote buffers.

When you say these functions freeze Emacs, do you mean beyond recovery with `C-g` or similar?

Do you use ivy-rich or another metad

[2021-01-24 02:22] Randy1Burrell commented on #147
Yes when I say freeze, I mean freeze to the point where I have to kill Emacs and start it again. `C-g` or no other keys will work. Yes, I do use ivy-rich.

I will look into profiling.

[2021-01-24 03:46] gcv commented on #147
Does this problem still happen if you disable ivy-rich? I’m wondering if it’s being too clever in combination with how Perspective uses the Ivy API. The profiler probably won’t work since it sounds like the main Emacs thread locks up (yikes).

If you use a Mac, you can do a bit of analysis using DTrace (access through Activity Monitor, examine the process, and there should be a way to sample it).

[2021-02-09 09:10] farynaio opened #148 "persp-counsel-switch-buffer open in other window"
I look for a way to have variant of persp-counsel-switch-buffer that works similar to counsel-switch-buffer-other-window - open in other window.

What is the easy way to achieve that?

[2021-02-10 02:18] gcv commented on #148
I think passing `ivy--switch-buffer-other-window-action` as the `:action` to `ivy-read` [right here](https://github.com/nex3/perspective-el/blob/d46082ca2adb8df3f6a7a422cff4af095878c2b6/perspective.el#L1270) will do the trick, but it’ll take a bit of refactoring to make it fit cleanly with the rest of the code. PRs always welcome, or you can just copy-paste the existing code and add the extra func

[2021-02-18 19:28] RJSent opened #149 "Variable display-buffer-reuse-frames in the README is obsolete"
In the "Some Musings on Emacs Windows Layouts" section of the README, there is sample code meant to adjust default behavior in Emacs. As of Emacs 24.3, `display-buffer-reuse-frames` is obsolete and would not have an effect.

The code in question
[code]
The help page for `display-buffer-reuse-frames` suggests using a `reusable-frames` alist entry in `display-buffer-alist` instead.

[2021-02-19 05:34] gcv commented on #149
Thanks! Example updated in https://github.com/nex3/perspective-el/commit/697d95f24e055eb9725781d179d7db63d6afd2b5.

[2021-02-23 22:09] titibandit opened #150 "Show only current persp in modestring"
This is more of a suggestion than anything,
What about being able to only show the current persp in the mode/headerline instead of the entire list with the dividers and all?
I have it in my modeline, and since I have quite a few different perspectives, this list completely clutters my modeline.
Having just the current selected persp in the modestring, I could still be able to quickly see the entir

[2021-02-23 22:45] gcv commented on #150
Good idea. I keep persp-show-modestring off in my own use, which is why I haven’t run into this problem. I’ll try to get to implementing this in a few days, but in the meanwhile, try putting the following in your configuration _after_ Perspective loads:

[code]

This is completely untested. 😁 If it doesn’t work, you’ll have to reload Perspective, since it overrides an existing function.

[2021-02-24 06:56] dams commented on #150
This is mor a suggestion and workaround than a direct answer but I think it can be useful information.

To avoid this problem I use mini-modeling (https://github.com/kiennq/emacs-mini-modeline) which displays the modeline in the modeline buffer. Effectively it means that there is only one modeline, instead of one per window. The result is a much longer modeline, with enough space for displaying pe

[2021-02-24 08:40] titibandit commented on #150
@gcv
Thanks, this works for now. It, for some reason is stuck to the rest of the modeline content. By that I mean it could use a space or something...but it works!
@dams That's a brilliant suggestion! I think I'll even use it in tandem with my suggestion, since the less clutter the better in my book.

[2021-02-24 11:11] farynaio commented on #148
Thanks. I put together a function - it's a Frankenstein made of `persp--switch-buffer-ivy-counsel-helper` and `persp-ivy-switch-buffer` - below but something is wrong with that. The amount of options from ivy is limited to current buffer.

[code]

[2021-02-24 11:17] #148 closed

[2021-02-25 06:39] gcv commented on #150
@titibandit: You can fix the spacing by adjusting the format string in the definition below:

[code]

[2021-03-06 19:43] #149 closed

[2021-03-07 04:24] gcv commented on #150
I added a new customization setting, `persp-modestring-short`. Set it to `t` to enable this feature (don't forget to get rid of the hacked up `persp-update-modestring`).

[2021-03-08 09:48] titibandit commented on #150
Great, this works!
I can then close the issue.
However, I would like to still have the perspective to be displayed using the persp-selected-face face, which I could do using:
[code]
And of course you can still "reverse" it by having a persp-selected-face that does nothing.
I don't know if that should be included, or if that only belongs to my personal config... you tell me!
Anyway, thanks for the

[2021-03-08 09:48] #150 closed

[2021-03-08 14:31] gcv commented on #150
How about: (1) make a dedicated face for this purpose, like `persp-modestring-short-face`, and (2) make it a bit less loud than `persp-selected-face`, maybe just `(:weight bold)`.

You don't need to do `(if (equal something nil) ...)`, just `(if something ...)` suffices. :)

Feel free to open a PR.

[2021-03-10 13:00] zwwv opened #153 "can access buffer that is part of another perspective"
Say I create a perspective `a` with buffer `file1.cpp`. Then I create another perspective `b`.
While inside perspective `b` I use switch buffer (c-x b) and type `f` in min-buffer and press tab button it auto completes to
`file1.cpp` even though buffer `file1.cpp` is part of perspective `a`. Is there a way to avoid this?

[2021-03-10 16:14] gcv commented on #153
The basic `switch-to-buffer` function bound to `C-x b` is, indeed, not Perspective-aware. I'll accept a PR to fix this (please follow guidelines outlined in https://github.com/nex3/perspective-el/pull/152). However, many other popular buffer switchers are fully Perspective-aware, see the [Buffer switchers](https://github.com/nex3/perspective-el/#buffer-switchers) section of the README. Would one o

[2021-06-09 23:50] gcv commented on #153
Please reopen if the suggested solution does not work for you.

[2021-06-09 23:50] #153 closed

[2021-06-09 23:50] gcv commented on #147
Please reopen if this is still a problem.

[2021-06-09 23:50] #147 closed

[2021-07-06 08:17] paulophagula opened #156 "feature-request: persp-only"
I'd like to request adding a feature that allows killing all other "persps" but the current (`persp-only`).

[2021-07-06 18:10] gcv commented on #156
Done. `persp-kill-others`. I didn't give it a default keybinding, since it's a dangerous operation, even with the confirmation prompt. Commit 2ff458a. It's in MELPA now.

[2021-07-07 08:36] titibandit opened #157 "Feature request: defer perspective loading?"
Hey,
I have one of my perspective, that is filled with tramp buffers over ssh.
I have it in my init.el that perspectives are automatically loaded on start.
This leads to two problems:
- If my ssh server happens to be offline, loading the buffers times out and this destroys all my perspectives.
- If my ssh server is online, perspectives load fine, but it takes a looooong time, even if I don't inten

[2021-07-07 13:51] gcv commented on #157
Good idea! I don't have time to work on it myself right now, but would gladly review a patch.

The approach is something like this:
- Introduce a new `(defcustom persp-state-defer-loading nil ...)`.
- Introduce a new data structure to keep track of loaded and deferred perspectives. It should be a map of frame -> perspective -> (loaded flag, list of files).
- Refactor `persp-state-load` to call hel

[2021-07-07 19:08] paulophagula commented on #156
What? Already? 😮  ... Thanks for the very fast response 🙇🏿🙌🏿

[2021-07-07 19:08] #156 closed

[2021-07-08 05:47] titibandit commented on #157
Thanks @gcv for the "implementation tutorial"!
I'm also struggling with time at the moment (hence why I want my emacs to load faster!) and I'm not the best elisp programmer yet, I'll try to give a go at implementing that, later down the line.

[2021-08-11 16:07] Pitta opened #160 "All buffers appear in all perspectives after killing from persp-counsel-switch-buffer"
I was having trouble after a few minutes of use with buffers from one perspective "leaking" into all of the other perspectives.  After doing some testing with my config and usage behavior, I realized that I have gotten into a pattern of simply using `k` from the minibuffer list when using `counsel-switch-buffer` to clean up buffers.

This behavior seems to cause perspective to break when I was doi

[2021-08-11 22:24] gcv commented on #160
`counsel-switch-buffer`'s preview feature pulls buffers from other perspectives into the current one as they are shown. There is no good or easy way to make it Perspective-aware; that's why `persp-counsel-switch-buffer` exists. It uses the same keymap as `counsel-switch-buffer`, and I can use <kbd>M-o</kbd> from both to use <kbd>k</kbd> to kill a buffer. That doesn't sound like what you're describ

[2021-08-11 23:11] Pitta commented on #160
You are correct - I'm reflexively using `C-k`

Before perspective, I was using `counsel-switch-buffer` because I love how you get a buffer preview when you flip through the list. `C-k` in that list would kill the highlighted buffer. It works great, and its real handy to close out a ton of stale dired buffers and files I dont need open anymore.

Trying perspective the past week or so, I swapped my

[2021-08-12 03:37] gcv commented on #160
Got it. Looks like Ivy's internal APIs have changed for the better since I wrote `persp-ivy-switch-buffer` and `persp-counsel-switch-buffer`, but might have broken the hacks I used to implement those functions.

I have a branch, https://github.com/nex3/perspective-el/tree/better-ivy-integration (mainly commit e6970179), that should fix this problem (and is much nicer than the previous implementati

[2021-08-12 04:15] Pitta commented on #160
So, I found where the packages are installed and just in place overwrote the perspective.el file, killed the server, and fired back up. created a couple perspectives and opened a couple buffers, then killed one with `C-x k`  and immediately got all the buffers from main.

![image](https://user-images.githubusercontent.com/5016471/129137388-3bbd78be-5963-48f5-9f8d-8f4e13587489.png)

[2021-08-12 04:30] Pitta commented on #160
Oh interesting - when I close the minibuffer and run `persp-counsel-switch-buffer` the list is properly narrowed - This is actually closer to fixed than not. Ideally the scope would never open up to all buffers when killin'

[2021-08-12 04:30] gcv commented on #160
What do you mean by "killed the server"?

[2021-08-12 04:31] Pitta commented on #160
I run emacs as a daemon, so when I want to make sure I'm flushing everything and getting a fresh one I run `save-buffers-kill-emacs`

[2021-08-12 04:39] gcv commented on #160
Weird. It does all the narrowing when killing that I expect for me.

Do you also have recent ivy and counsel packages?

Just to be on the safe side, open the `perspective.el` source file, double-check that the `persp-ivy-switch-buffer` function is only 5 lines long, and then run `eval-buffer` (this will reset perspective and all perspectives will be lost, so I recommend doing this in a fresh Emacs

[2021-08-12 17:41] Pitta commented on #160
TL;DR

Rocking `eval-buffer` was the move. What I was doing clearly wasn't what I needed to do.

Tested with success in GUI and TUI _(I run TUI all day)_. It works perfectly now!

This rocks - Thank you!

_/me looks for tip jar..._

[2021-08-13 02:04] gcv commented on #160
Great! The fix is merged and now available in MELPA.

[2021-08-13 02:04] #160 closed

[2021-08-14 04:21] zenspider commented on #141
I dunno... closing. I'll reopen if I get more repro.

[2021-08-14 04:21] #141 closed

[2021-08-19 05:51] gcv commented on #54
With commit 0b693bdfdc135128c37bdcfaad0d57cc613564f4, `helm-buffers-list` now lists buffers in all perspectives when called with a prefix argument. It now has actions to add to the current perspective, and to remove buffers from the current perspective. It supports both actions with multiple marked buffers. If anyone has ideas about how to make Helm work directly from `persp-add-buffer`, let me kn

[2021-09-08 21:41] meliache commented on #54
I'd like to be able to add multiple buffers at once without helm, just using the generic `completing-read-multiple` (which I use via selectrum).

I was thinking about creating a new issue, but searched the closed issues first and found this. The issue title doesn't mention helm explicitly, so I think a more generic solution could be discussed.

Now that I think about it, it would be also useful to

[2021-09-09 00:24] gcv commented on #54
Re: `completing-read-multiple`: I like that. I think `persp-add-buffer` and `persp-remove-buffer` can be modified to use `completing-read-multiple`. There might be minor complications with `persp-interactive-completion-function`.

Re: ibuffer. Your functions look fine, I can add them (feel free to open a PR [and don’t forget the needed `declare-function` calls], or I’ll just do it later). What’s t

[2021-09-09 09:30] meliache commented on #54
Re: ibuffer. Thanks, I might do the PR. I came up with the functions rather on the fly, while writing the comment I wanted to write that such functions would be useful, but then I thought this should be easy to do myself if there's a way to get the marked buffers and it was. I didn't think much about keymaps yet, after all we don't have a special "persp-ibuffer" mode, so the only way would be to a

[2021-09-12 14:04] TxGVNN opened #163 "persp-mode doesn't works well if enable-recursive-minibuffers is t"
Hi,

I discovered a issue when I use `(setq enable-recursive-minibuffers t)` and in recursive-minibuffer.

How to reproduce
[code]
The  `M-x` -> type `M-x` again -> `persp-next` -> `persp-next`.
Oops. Something went wrong, I don't know how to describe. Feel something is keep in minibuffer and we can not escape. After that persp-next and persp-prev doesn't work anymore.

I tested on `persp-mode` pa

[2021-09-13 04:43] gcv commented on #163
The `*Messages*` buffer shows an error message:

[code]

`delete-other-windows` gets called from `persp-reset-windows`, which probably gets called from `persp-activate`.

I turned off recursive minibuffers years ago because I found them confusing. What should happen in the use case you're describing?

[2021-09-13 07:28] TxGVNN commented on #163
The message, seems it is normal, but after that `persp-mode` can not work anymore. I can't switch workspace :(

I would like to use recursive minibuffers, it helps me in some case (maybe it is rare). Do you know how to fix this bug? It makes me so annoying. Or we can deny any task about `persp-mode` if the `minibuffer` in recursive mode

[2021-09-13 21:33] gcv commented on #163
It's not a real fix, but try this patch to `persp-switch`:

[code]

[2021-09-19 03:19] gcv commented on #163
@TxGVNN: Did that patch fix your problem?

[2021-09-19 06:54] TxGVNN commented on #163
Thanks, your patch fix my problem. I used `unless` to skip recursive minibuffer instead.

[2021-09-20 03:52] gcv commented on #163
Okay, I pushed my patch to master. https://github.com/nex3/perspective-el/commit/acad4fb2cfe27feb0ecbe07e51c364bfa5ea4f47

[2021-09-20 03:52] #163 closed

[2021-09-22 09:21] deb75 opened #164 "Prevent buffers from being added to several perspectives"
Hello,

I have just begun to use `perspective`, perhaps this question is just due to my lack of practice.

Sometimes when I switch from one perspective to another, I notice with `persp-ibuffer` that some buffers
from previous perspective do appear in the current one, although I did not want to add thess buffers to the
current perspective.

How can I make sure that buffers (files) belonging to one

[2021-09-22 20:54] gcv commented on #164
Perspective always adds a buffer to the current perspective when the buffer is displayed. Meaning, if you switch to a buffer which is not in the current perspective, it will then be added to the current perspective. This also happens if you use a previewing buffer switcher like `counsel-switch-buffer`, which can be unexpected and the reason why Perspective provides `persp-counsel-switch-buffer` as

[2021-09-22 22:39] deb75 commented on #164
Thanks for your answeer.

For example, if I kill a buffer in a given perspective, another buffer will be automatically displayed which may belong to another perspective. Then, this buffer is unexpectedly added to the current perspective.

Reading what you say, it does not seem to be a bug. But, I wish it could be prevented. Is there a way to prevent any displayed buffer from being automatically ad

[2021-09-23 00:19] gcv commented on #164
The behavior you’re describing, i.e., pulling in a buffer from a different perspective after killing a buffer, should not happen. A series of bugs did cause it to occur in rare situations, but I fixed all the ones I knew about quite a long time ago. If it happens to you regularly, that’s definitely a bug and needs to be investigated.

What version of Perspective do you have installed? Also, could

[2021-09-23 08:49] deb75 commented on #164
Yes I am sure it is `perspective`, latest melpa version, not `persp-mode`.

Let's say I start from a clean `perspective` "state", that is to say all buffers are in the correct perspective (checking with `persp-ibuffer`).

Then, I start `gnus` in the main perspective which has no opened buffer, apart from the scratch. When I close `gnus`, `emacs` displays automatically one of the opened buffers, wh

[2021-09-23 14:34] gcv commented on #164
I want to get to the bottom of this, but I can't reproduce it on Emacs 27.2. Here is a scripted test case. To run it, launch Emacs like this:

[code]

This will start Emacs with no custom configurations which may interfere, but will activate Perspective.

Next, save the following code to a file somewhere:

[code]

Since you use Windows, you may have to change the `find-file` lines to point to diff

[2021-09-23 21:46] deb75 commented on #164
Hi,

Run your test, which is ok. Perhaps something in my configuration. I will look into this.

Regards

[2021-11-01 03:04] dpassen opened #167 "Perspective operations in recursive minibuffers not supported"
Since a recent change, I've seen an increasing number of
[code]

Two areas I frequently see this error are:
[code]

perspective 20211023.1507
emacs-27.2 https://github.com/railwaycat/homebrew-emacsmacport
macOS Monterey (12.0.1)

[2021-11-01 04:10] gcv commented on #167
I pushed an attempted fix in commit 520b038. It'll hit MELPA in a couple of hours. It seems to be compatible with #163, but might help with this bug. I just ran into it today myself: it seems that switching perspectives while a (background) timer is running makes it look like a recursive minibuffer session is in progress. I don't know why. Maybe this fix will make the problem go away, maybe not. P

[2021-11-01 08:09] ibytao commented on #167
no fix

[2021-11-01 09:28] deejayem commented on #167
I wonder if the "Perspective operations in recursive minibuffers not supported" error is just a symptom of something else that has broken. After commenting out the new check that was added, I'm now seeing this error:

`Specified root is not an ancestor of specified window`, and also seeing emacs crash.

The problems went away when I removed perspective from my config. After re-enabling it, I didn'

[2021-11-01 13:23] gcv commented on #167
@deejayem: Since you seem to run into the error fairly frequently, would you mind helping narrow down the commit when it was introduced? I assume you're currently using the latest in MELPA. Could you try one of the tagged releases?

- [version 2.17](https://github.com/nex3/perspective-el/tree/2.17)
- if 2.17 is still broken, then maybe [2.16](https://github.com/nex3/perspective-el/tree/2.16)

[2021-11-01 13:59] deejayem commented on #167
2.17 works fine. I've narrowed it down to commit bf0fce1f - it works fine with the commit before that, but with that commit I get the errors.

[2021-11-01 14:15] gcv commented on #167
Thank you @deejayem!

@mehw — we missed this problem while testing #165. It seems related to timers, or at least the reports here suggest so. The one time I saw it myself also had something to do with `git-auto-commit-mode`, which also runs timers.

While looking into #163, I found that `persp-reset-windows` seems to have caused problems with recursive minibuffers. Is it possible that timers creat

[2021-11-02 05:30] gcv opened #168 "persp-maybe-kill-buffer is too slow"
I had to comment out `persp-maybe-kill-buffer` use in `kill-buffer-query-functions`. See  https://github.com/nex3/perspective-el/commit/3e4efaba598bb01834bbc4fbeb3e1d7b48579624.

`persp-maybe-kill-buffer` is pretty slow since it does a lot of traversing across perspectives and buffers. And it gets called _a lot_, especially with some more sophisticated packages like Helm and Magit that create and

[2021-11-02 05:34] gcv commented on #167
I just pushed a couple of commits that should help work around this problem.

@deejayem, @ibytao, @dpassen: could you please grab 3e4efab, which should be in MELPA in a couple of hours, and see if things improve.

[2021-11-02 07:34] deejayem commented on #167
It seems to be working fine for me now, thank you.

[2021-11-02 14:05] dpassen commented on #167
Fixed for me, as well!

[2021-11-02 14:36] gcv commented on #168
I think there needs to be a much faster mechanism for checking which perspectives a buffer is in. Maybe each buffer should keep track of it in a buffer-local variable, which will make the lookup in `persp-maybe-kill-buffer` much faster.

[2021-11-02 14:38] gcv commented on #163
@TxGVNN: Can you take a look at https://github.com/nex3/perspective-el/commit/6e87eeb6160345390406a82af0db61782bfb9913 ? It should be a nicer fix for your recursive minibuffer use case.

[2021-11-02 16:29] TxGVNN commented on #163
@gcv yeah, I just tried it, looks perfect. I will experience it longer and feedback if something went wrong. Thank you very much

[2021-11-02 19:51] mehw commented on #167
Hi @gcv, I'm reading your messages right now... Thanks for the quick fix, I'll look into the code this night ;)

[2021-11-02 19:56] mehw commented on #168
Thank you for the suggestions @gcv, I'm starting debugging to focus the problem... I'll report back to you ASAP ;)

[2021-11-03 04:46] ahmed-shariff opened #169 "Marginalia annotation not working with `persp-switch-to-buffer*`"
I am using selectrum for completion. Since perspective generates a list as a candidate list for `completing-read`, when using `persp-switch-to-buffer*` marginalia's annotations don't work.  According to https://github.com/minad/marginalia/issues/48 :

Though I have not clue what this means.

[2021-11-03 05:24] gcv commented on #169
I gave it a shot. Can you try the https://github.com/nex3/perspective-el/tree/add-metadata-to-persp-switcher branch?

[2021-11-03 06:17] ahmed-shariff commented on #169
sweet, thanx alot. This seems to work. I'll open a new issue if I run into anything else related to this.

[2021-11-03 13:25] gcv commented on #169
Patch merged into master and should reach MELPA in a couple of hours.

[2021-11-03 13:25] #169 closed

[2021-11-05 00:47] ahmed-shariff commented on #169
For reference for anyone looking for a solution with [consult ](https://github.com/minad/consult)

[code]

[2021-11-07 07:20] TxGVNN commented on #163
After few days to use new version. Seems it still doesn't totally fix my issue. Because I integrate perspective with project-switch. I still see this bug exist, although it appears rare.

[code]

My workaround: https://github.com/TxGVNN/giaelpa/commit/7dff9588902557981ad2eda4790fe4b55aee199d
[code]

[2021-11-09 14:54] #167 closed

[2021-11-10 22:37] mehw commented on #168
Hi @gcv, after nights of debugging I can't manage to trigger the mentioned bug... maybe @deejayem, @ibytao, and @dpassen can give some context. I would like to design some regression tests...

I see there was a discussion about the recursive minibuffer in #163... I tried `(setq enable-recursive-minibuffers t)` and also `(savehist-mode)` with `(setq savehist-autosave-interval 1)` but nothing...

Ho

[2021-11-10 23:00] gcv commented on #168
Thanks for looking into it. Don’t worry about that bug specifically. Commit https://github.com/nex3/perspective-el/commit/6e87eeb6160345390406a82af0db61782bfb9913 in master worked around it.

I commented out `persp-maybe-kill-buffer` because of how frequently it gets called. It made basic Magit use feel very sluggish. When I put a breakpoint in it and start Magit or Helm, `persp-maybe-kill-buffer`

[2021-11-22 05:17] gcv commented on #168
@mehw: I put in a hack to allow killing temporary buffers (which we should not care about) without the expensive check. See 672d02dde0c2f8c951e3032e21050e1375a2692e

Then I reenabled the check, but hid it behind a feature flag, and turned it off by default: 248b4e96400b64cbaf8a431c437e6424a7665624 — tests are now passing again.

I'll try running the code with `persp-feature-flag-prevent-killing-la

[2021-11-22 06:42] gcv commented on #164
@deb75: Please grab the latest Perspective from MELPA and set `persp-feature-flag-prevent-killing-last-buffer-in-perspective` to `t`, either in the `:custom` section of your `use-package` form or with this:

[code]

Then restart Emacs.

There's a lot of new code there to try to keep this problem from happening in the edge case of killing the last buffer in a perspective affecting other perspective

[2021-11-27 02:49] mehw commented on #168
@gcv: Thank you. I'll take a look this week-end. I'm sorry for answering you only now... crazy weeks ;)

[2021-11-30 18:57] mehw commented on #168
@gcv: Hi, I managed to speed up the processing further... I'm currently perfecting the code. Expect a PR soon ;)

Benchmarks reveal that the processing could be sped up going _bare metal_, beyond the utility functions, accessing directly the data.

It's working on temporary buffers killed directly with `kill-buffer`. Smart solution ;)

[2022-02-23 06:43] mukundzare opened #173 "persp-mode does not get activated during startup"
1. I have an issue getting persp-mode running during startup. The following is my setup, but the `persp-mode` variable is always `nil`  after startup and perspective is not available anymore.

[code]
2. I have to explicitly execute `M-x persp-mode` twice to get it started.
Initially, I had a `emacs-startup-hook` setup to also have `pers-state-load` to be called on emacs startup to load the perspec

[2022-02-23 14:34] gcv commented on #173
Are there any errors when you run `M-x persp-mode` the first time? Does the `*Messages*` buffer show anything interesting?

What happens if you change `:config` to `:init` in your `use-package` form?

[2022-02-25 07:34] mukundzare commented on #173
I think changing the `:config` to `:init` did the trick for now. I have a few perspectives open and I do not want to restart my emacs right now, but I will try again and report back if it really works.

[2022-02-27 23:33] ddoherty03 commented on #145
I know this is closed, but why does using persp-mode-map rather than perspective-map not work.  When I use it in use-package, it binds keys to the global key map.  You say the map is persp-mode-map in the README.

[2022-03-01 21:54] ddoherty03 commented on #145
Thanks.

[2022-04-07 05:21] paulophagula opened #180 "Recently released Emacs 28.1 uses `C-x x` for buffer actions, thus conflicting with the prefix for perspective-el"
Hi,

As the title says, recently released Emacs 28.1 uses `C-x x` for buffer actions, thus conflicting with the prefix for perspective-el.
The NEWS file says:

The 'C-x x' keymap now holds keystrokes for various buffer-oriented
commands.  The new keystrokes are 'C-x x g' ('revert-buffer-quick'),
'C-x x r' ('rename-buffer'), 'C-x x u' ('rename-uniquely'), 'C-x x n'
('clone-buffer'), 'C-x x i' ('ins

[2022-04-07 05:45] gcv commented on #180
I have always considered `C-x x` an unfortunate default, and use `C-c C-p`. I don’t think it conflicts with anything popular..?

That said, it will be a breaking change in Perspective, something I try very hard to avoid. I suppose I can reduce its impact on existing users’ muscle memory by only changing the prefix for Emacs 28 and later.

[2022-04-07 14:39] gcv commented on #173
Please reopen if this is still a problem.

[2022-04-08 21:16] gcv commented on #180
@zenspider: Do you have an opinion on this? It's a helluva change to inflict on long-standing users of Perspective who never changed the prefix key. As far as I can tell, we can:

1. Ignore the new Emacs 28 bindings for `C-x x` and so shadow them.
2. Change the Perspective prefix, breaking users' muscle memory. Document in the changelog and hope that's enough.
3. Option 2, but only for Emacs 28.

[2022-04-10 19:22] zenspider commented on #180
I don't have an opinion... I immediately changed my prefix (^z ftw!) and suspect many people do.

Unfortunately we want to keep this around, otherwise we could lean into `declare` w/ `obsolete`. As such, I suspect option 3 is probably the most gentle, but option 2 could be fine as well and prepare people BEFORE they move over (so much stuff breaks on a big new release that it'd be nice not to be a

[2022-04-16 03:38] gcv commented on #180
I just realized that `C-c C-p` conflicts with a bunch of stuff in Org, and also `markdown-mode`. I'm open to other suggestions.

[2022-04-18 04:07] ZelCloud opened #181 "[feature request] - Option to not save modes for buffers"
I've been using persp-state-save and persp-state-load for a while now, and it works great. Except for one case, if there's some kind of issue or bug with a mode or elsip command it seems to be persisted into the persp-state-save and loaded up the following time. Generally one of the perspectives will also lose its named title and get a random string of numbers. So would it be possible to save the

[2022-04-18 04:11] gcv commented on #181
`persp-state-save` avoids saving anything it cannot reliably restore. This includes all kinds of buffers, like shells, which do not have an associated file. It sounds like you ran into a mode that those heuristics don't catch. What mode have you run into with this problem? Can you help me reproduce it?

[2022-04-18 06:13] gcv commented on #180
What about `C-c M-p`?

[2022-04-18 17:01] zenspider commented on #180
What about `nil`? Maybe don't set it and ask users to find something that works for them? I know I have mine set and thus won't even notice a version bump (nor will anyone else who already customized). Anyone who's using the default can have a message pop up or something.

[2022-04-18 18:38] paulophagula commented on #180
Even though, it was I, who raised the issue, I'm keeping `C-x x` for perspective.el rather than the new buffer actions, as most of those buffer actions are in my particular view not so useful (except maybe for `rename-buffer`, but then again we have crux and so many hacks people made to rename a file along with its buffer). It is very seldom I'll want to perform any of the tasks listed in there.

[2022-04-19 06:57] gcv commented on #180
@zenspider: Yes. Let's get out of the business of deciding on key prefixes for users. I looked at Projectile for inspiration, and it does not provide a default prefix.

@paulophagula: I agree with your reasoning about `C-x x`. It makes sense for users with muscle memory to keep it. Still, I think it's best for Perspective to just get out of the way and let users decide what to do.

I still don't w

[2022-04-19 09:38] paulophagula commented on #180
@gcv thank you. I think this settles it, so I'll be closing the issue.

[2022-04-19 09:38] #180 closed

[2022-04-19 19:04] ZelCloud opened #182 "Creating pipe: Too many open files"
I'm trying to use perspective state save, for about 20+ buffers and 3 named workspaces. For a very small number of buffers everything works fine, but when I cross this threshold I keep getting the error perspective create pipe too many open files. It will also mangle my perspective names into a random string of numbers and characters. I'm not sure if I'm doing something wrong, if there's an issue

[2022-04-19 21:13] #181 closed

[2022-04-19 22:15] gcv commented on #182
20 buffers and 3 perspectives isn't very much. It's routine for me (though I don't use Windows), and should not cause problems. It's pretty unlikely that Perspective runs out of file descriptors.

I recently read something about this problem, and found a theory that Treemacs or LSP on a large repository could be responsible (https://old.reddit.com/r/emacs/comments/ty5i2l/emacs_28_29_watching_eln_f

[2022-04-19 22:22] ZelCloud commented on #182
I do have treemacs as an installed package, but its very rarely used.

I also do use LSP sometimes, this might be just be the crux of the problem. I'll experiment running perspective-state-load while ensuring lsp won't startup automatically (and have treemacs completely disabled). I'll report back my findings when I finish testing all this out.

Thanks for the advice / link @gcv.

[2022-04-20 22:53] JuanPabloMF opened #183 "Can't setup perspective layout at startup"
Perspective works fine for me with a simple configuration like:

[code]

The error arises when I try to create from my init file a new perspective with a given window and buffer layout:

[code]

With this config the "project" perspective is not created, only the buffers are visible but not attached to the main perspective and the project perspective as I mentioned doesn't exist.

I have tried a fe

[2022-04-21 00:51] gcv commented on #183
Try using `:init` instead of `:config` in your `use-package` forms. I recently changed the documentation to do that to avoid all kinds of subtle lazy loading problems, which is what I suspect is happening here. Also, maybe change to `(persp-mode 1)`. Maybe I should change the README to do that, too.

For your use case, maybe look into `persp-state-save` and `persp-state-load`? You can set everythi

[2022-04-21 05:27] JuanPabloMF commented on #183
Changed to init, and I don't get anymore the double shell buffer, thus I suppose that it is loading just one time.

What I'm still not able to do is to run from elisp the layout function `my/config-startup-perspective`. I tried to use the persp-mode-hook, after-init-hook, emacs-startup-hook, and also using from use-package the :demand and :config keywords.

On the other hand, I'm able to run inter

[2022-04-21 22:13] gcv commented on #183
The following works for me using `emacs -Q -l /path/to/perspective-autoloads.el -l /path/to/use-package-autoloads.el`:

[code]

It's the same thing you posted originally, except `:config` is replaced with `:init`. Note that you switch to `*scratch*` in `my/config-startup-perspective` rather than `*scratch* (project)`, but I assume that's intentional.

Please try this with `emacs -Q` and similar `-

[2022-04-22 00:27] JuanPabloMF commented on #183
It works!

I had tried this kind of setups and they were not working for me. After a bit of tinkering I think I found the problem:

- Opening from shell works with `emacs -Q -l` and also `emacs`.
- Opening from app icon in favorite apps bar doesn't work.

The app icon in favorite bar was emacsclient.desktop. There is also another app icon in emacs folder /usr/local/share/emacs/28.1.50/etc/ called

[2022-04-22 00:27] #183 closed

[2022-04-25 20:56] ZelCloud commented on #182
Hey @gcv I've finished doing a bit of testing and I can confirm this isn't a problem with perspective or persp-mode themselves.

persp-mode-ref https://github.com/Bad-ptr/persp-mode.el/issues/131

### Breakdown of issues on Windows and different cases

"perspective.eL" and "persp-mode.el" both have issues on windows with lsp or treemacs more so the former, when trying to state save or load.

The r

[2022-04-25 21:58] gcv commented on #182
Thank you for investigating the problem. It seems like the open file limit is crazy low. I don't really understand it.

The idea of lazily loading perspective state has come up before (#157). Patches welcome. :)

[2022-05-15 19:41] gcv commented on #182
Since there isn't much we can do about this problem in Perspective, I'll close this ticket.

[2022-05-15 19:41] #182 closed

[2022-05-25 16:29] Thuna-Cing opened #185 "Perspective breaks after enable-theme"
Whenever `load-theme` or `enable-theme` is called, all perspectives get discarded and a "main" perspective is (re)created as though `persp-mode` was restarted.  The issue persists with `emacs -Q`

Emacs version 29.0.50 & Perspective commit 794afdbc5188ef6f2d78d26302cd78903ce618fa

[2022-05-25 22:56] gcv commented on #185
Everything works for me with Emacs 28.1. My system currently has trouble compiling Emacs from the master branch, and I don’t have time to deal with it, so I can’t work on reproducing the problem right now.

Please check if 28.1 works for you.

[2022-06-11 16:23] Thuna-Cing commented on #185
I can confirm that the issue is still present with Emacs 28.1 on a different device.

[2022-06-12 04:01] gcv commented on #185
Something strange is going on. I'm using the following invocation to start Emacs (28.1, tried with and without native compilation turned on):

[code]

Then I paste the following code into the `*scratch*` buffer and run it:

[code]

This works as expected. The `five` perspective is _not_ discarded as you describe.

1. What happens when you run this code with the given start command?
2. If the probl

[2022-06-14 20:35] Thuna-Cing commented on #185
After some testing, I have tracked down the issue to a specific
decision: whether persp-mode is called interactively or not.  If
persp-mode is activated via ```(persp-mode 1)```, the issue is not observed.
If it is activated via ```M-x persp-mode``` or ```(call-interactively 'persp-mode)```,
it is.  Any subsequent attempts with ```(persp-mode 1)``` will also fail.

 The final testing was done with

[2022-06-16 05:47] gcv commented on #185
Excellent. That helped me reproduce the problem and track it down. It should be fixed in commit b6a13bf, which will hit MELPA in a couple of hours. Please let me know if that resolves the bug for you.

In case you're curious, it happened because repeatedly activating `persp-mode` causes it to reinitialize itself. This would occur if you called `(persp-mode 1)` twice in a row. No one does that in p

[2022-07-04 18:42] nosewings opened #186 "Perspective hides buffers when running Emacs as server"
When connected to an Emacs server with `persp-mode` enabled, I can't see buffers that other clients have opened (or even Emacs startup buffers; e.g., `*Messages*`).

[2022-07-04 19:58] nosewings commented on #186
To clarify: this occurs when switching buffers with `switch-to-buffer`, `previous-buffer`, and `next-buffer`; I can still see the buffers in `(buffer-list)`.

[2022-07-04 20:58] gcv commented on #186
`switch-to-buffer` should allow switching to any buffer. You're definitely not using `persp-switch-to-buffer*` (which I would expect to behave the way you describe)?

[2022-07-04 21:54] nosewings commented on #186
Yes, it happens even with `M-x switch-to-buffer`.

Why would this be the expected behavior with `persp-switch-to-buffer`?

[2022-07-04 22:25] gcv commented on #186
`persp-switch-to-buffer*` is supposed to be perspective-aware. I don’t use Emacs server often (I never managed to configure it right, and when I try using it, it ends up crashing and I have to restart it from the main instance), so I’m not entirely sure how it actually behaves with Perspective. I would expect the server to treat a new client instance as the equivalent of a new frame, which means a

[2022-08-23 21:05] LemonBreezes commented on #138
Hey, I have been using the snippet of code from this comment for a few weeks successfully: https://github.com/Bad-ptr/persp-mode.el/issues/122#issuecomment-1224884651.

[2022-08-28 13:39] gcv commented on #138
@LemonBreezes: That code wouldn't work directly in Perspective, which has different hooks and parameter setting from persp-mode. Did you adapt it? If so, please post the changes you made. I'd like to give it a try.

[2022-09-08 15:16] #185 closed

[2022-10-06 19:53] mukundzare opened #191 "Current perspective name not being propertized in the mode-line"
Hi,

I am unable to see the current perspective name being highlighted in the modeline while using ```(setq persp-show-modestring t)```. It highlights correctly in the header when I use ```(setq persp-show-modestring 'header)```.

If it matters, I am using doom-modeline too. How do I fix this issue?

[2022-10-06 23:23] gcv commented on #191
I'm not familiar with doom-modeline. What happens if you disable it?

It could be as simple as a hard-to-see face setting given your theme and modeline configuration. The highlight is controlled using `persp-selected-face` (https://github.com/nex3/perspective-el/blob/cb4083dfa91c336dbed0c330d629e256d86384f9/perspective.el#L500). What happens if you modify it?

[2022-10-08 15:36] gcv commented on #191
Since it sounds like everything works with the minimal configuration above, then doom-modeline is _not_ the problem? In that case, yes, I'm inclined to blame some interaction of themes and limitations of `persp-selected-face`, since it's just a `:foreground "Blue"` setting. Also, the face is used directly in the code, rather than through a variable indirection, so it's more difficult to adjust in

[2022-10-18 20:22] sellout opened #192 "Display perspective in frame title"
Since there is one (or merged) active perspective in a frame, displaying it in the title makes more sense than in the mode-line or header. So, suggesting another possible value for `persp-show-modestring`: `'frame-title`.

There’s no `global-frame-title` to append it to, but searching `frame-title-format` for "%b" and adding an entry just before it, (like `(persp-mode-line "%b")` in the simplest c

[2022-10-18 20:32] sellout commented on #192
Ah, since it doesn’t propertize text in the title, you probably also want to always treat `persp-modestring-short` as `t` if `persp-show-modestring` is `'frame-title`. I use the short form anyway, so I didn’t notice initially.

[2022-10-18 20:36] sellout commented on #192
Ok, my quick experiment is not so successful – it sets the title for _all_ frames to whatever perspective the selected frame is in. But I’m sure there’s a way around that …

[2022-10-26 07:58] mukundzare commented on #191
Yeah, I think hard coding `persp-selected-face` to blue might be causing some interactions with the themes and might need to have an indirection in the case of themes. Besides, I just declared emacs bankruptcy and the themes seemed to have played some part in it or my lack of sufficient knowledge. I have started over with my new config (without perspective.el as of now, but planned in the next few

[2022-11-26 13:51] wolf-coder opened #193 "`C-x 5 2 ` different behaviour when running perspective with daemon"
- (persp-mode enabled) Without running a daemon, `C-x 5 2` behave normally (_It creates a new frame and switch to it_).
- (persp-mode enabled) When running a daemon , it opens a new  frame with a *Scratch* buffer.
- (persp-mode enabled) Without daemon, `C-x 5 2`, behave as expected.

_ Clearly, there is a conflict between Perspecive and daemon for `C-x 5 2`.
_ Any guidance to fix this please?

[2022-11-27 06:20] gcv commented on #193
I tried this with Emacs 27.2, Mac port, GUI version. Whether or not the Emacs server process is running (`M-x server-start`), and whether or not Perspective is enabled, <kbd>C-x 5 2</kbd> creates a new frame with the current buffer opened in it. I just used `emacsclient` to open files without any flags. Maybe I don't understand what you mean by `running a daemon`?